<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="../image/icons/logo.svg" rel="icon">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Поиск</title>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-xxl">
        <a class="navbar-brand" href="../index.html">
            <img src="../image/icons/logo.svg" alt="Главная" width="32" height="50">
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../index.html">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Курсы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Магазин</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form id="search" class="input-group">
        <input v-model="input" type="text" name="parameter" class="form-control" placeholder="Найти курс" aria-label="Recipient's username" aria-describedby="button-addon2" autocomplete="off">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" title="Найти">Найти</button>
    </form>
</div>
<div class="search-result">
    <div class="container">
        <div id="courses">
            <div v-if="isLoaded" class="search-courses">
                <course v-for="course in info"
                        :course="course"
                        :key="course.id">
                </course>
            </div>
            <div v-else class="search-courses">
                <loaded v-for="card in info"
                            :loaded="card">
                </loaded>
            </div>
        </div>
    </div>
</div>
<!--<footer></footer>-->
<script src="../js/search.js"></script>
</body>
</html>