:root{
    --control-element-color: #5534A5;
    --course-background-color: #2F2F2F;
}

html, body{
    background-color: #3B3B3B;
    font-family: 'Gilroy',sans-serif
}
a{
    text-decoration: none;
}
a:hover{
    transition: color .3s ease-in-out;
    color: black;
}
.container{
    width: 100%;
    max-width: 1040px;
}
.navbar{
    height: 70px;
    background-color: var(--control-element-color);
}
.nav-link{
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.btn{
    width: 170px;
}
.btn:hover{
    background-color: #9A83D2;
}
.input-group{
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.card{
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin-bottom: 60px;
}
.img-loaded{
    cursor: wait;
    width: 280px;
    height: 210px;
    background-color: #000;
    border-radius:20px;
    animation: load_img 2s infinite;
}
@keyframes load_img{
    0%{
        background-color: #6b6b6b;
    }
    50%{
        background-color: #c7c7c7;
    }
    100%{
        background-color: #6b6b6b;
    }
}
.course-section{
    margin-top: 90px;
    overflow: hidden;
}
.course-section .course-list{
    background-color: var(--course-background-color);
    width: 1060px;
    max-height: 770px;
    height: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid black 2px;
    border-radius: 20px;
}
.title{
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding-bottom: 25px;
}
.courses{
    display: inline-flex;
    max-width: 1040px;
    width: -webkit-fill-available;
    justify-content:space-between;
    flex-wrap: wrap;
}
.course{
    background-color: mediumpurple;
    width: 300px;
    height: 300px;
    border: transparent;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px;
    padding: 15px;
}
.course-title{
    color: black;
    font-weight: bold;
    font-size: 32px;
    height: 68px;
    line-height: 30px;
    margin-top: 10px;
}
.course-description{
    font-style: normal;
    font-size: 10px;
}
.course-title-image{
    width: 280px;
    height: 200px;
    border-radius:20px;
    background-color: white;
    overflow: hidden;
    display: flex;
}
.course-image{
    display: block;
    margin: auto;
    max-width: 280px;
    max-height: 200px;
}
footer{
    width: 100%;
    height: 70px;
    background-color: var(--control-element-color);
}
